body{
    font-family: sans-serif;
}

.head {
    background-color:rgb(16 16 16);
    color: blueviolet;
}
#but .btn-warning{
    box-shadow: none;
    padding: 14px 30px;
    border: none;
    font-family: cursive;
    border-radius: 40px;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
